@using ZarbiTtiTFA.Models.Tradicional;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/MiMainLayOut.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <script src="~/Scripts/vueScript.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content" id="layout">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="logo">
                    <h1><a href="~/Home/Index">ZarbiTti</a></h1>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Cart(3) <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (Session["carro"] != null)
                            {
                                foreach (Item item in (List<Item>)Session["cart"])
                                {
                                    <li><a href="#">@item.pro.nombreProducto (@item.cantidad)</a></li>
                                }
                            }
                            <li class="divider"></li>
                            <li><a href="#">IT</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="nav-menus">
                    <ul class="nav nav-pills" id="nav-pills">
                        <li class="active" ><a v-on:click="cambiarClase" style="border-radius:initial;" href="~/Home/Index">  Inicio</a></li> 
                        <li v-on:click="cambiarClase"><a style="border-radius:initial;" href="~/Tradicional/Index">Tradicionales</a></li>
                        <li v-on:click="cambiarClase"><a style="border-radius:initial;" href="~/Moderna/Index">Modernas</a></li>
                        <li v-on:click="cambiarClase"><a style="border-radius:initial;" href="">Contactanos</a></li>
                    </ul>
                </div>
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ZarbiTti application</p>
        </footer>
    </div>

    <script src="~/Scripts/vue.js"></script>
    <script>

        var vm = new Vue({
            el: "#nav-pills",
            data: {

            },
            methods: {
                cambiarClase: function (event) {
                    if (event) {
                        const botones = document.querySelectorAll("#nav-pills li");
                        console.log(botones);
                        for (let i = 0; i < botones.length; i++) {
                            botones[i].addEventListener("click", function () {
                                botones[i].classList.toggle("active");
                                console.log(botones);
                            });
                        }
                    }
                }
            }
        })
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
